name: Test Chainguard Images
on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']

concurrency:
  group: presubmit-build-${{ github.head_ref }}
  cancel-in-progress: true

permissions: {}

jobs:
  build-the-world:
    runs-on: ubuntu-latest

    permissions:
      # WARNING: This is mattmoor being a bit *too* clever.
      # We want to be able to test the reproducibility of things via the upstream
      # check-reproducibility test, which requires ambient credentials, but those
      # are only available to pull requests under two circumstances:
      #  1. The trigger is `pull_request_target`, and
      #  2. The pull request is from a branch on the main repo.
      # However, this doesn't cause things to fail when the pull request is from a
      # fork, it will just make the tf-cosign rules NOPs and the
      # check-repoducibility skip.
      #
      # But why not just use pull_request_target?
      # This is because to pull in breaking changes to apko, we will need to update
      # our apko Go dependency and the APKO_IMAGE (below) in the same PR, and the
      # latter cannot be checked with the former if the workflow is
      # pull_request_target.
      #
      # All of that said, dependabot and digestabot PRs come from branches on the
      # main repo, so the net effect of this SHOULD be that we get an error
      # presubmit when digestabot wants to pull in an update that is not
      # reproducible with the version of the apko Go library we depend on.
      id-token: write

    steps:
    - name: Harden the runner (Audit all outbound calls)
      uses: step-security/harden-runner@5ef0c079ce82195b2a36a210272d6b661572d83e # v2.14.2
      with:
        egress-policy: audit

    # In some cases, we runs out of disk space during tests, so this hack frees up approx 10G.
    # See the following issue for more info: https://github.com/actions/runner-images/issues/2840#issuecomment-1284059930
    - name: Free up runner disk space
      shell: bash
      run: |
        set -x
        sudo rm -rf /usr/share/dotnet
        sudo rm -rf "$AGENT_TOOLSDIRECTORY"

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        path: tf-apko
    - uses: actions/setup-go@7a3fe6cf4cb3a834922a1244abfce67bcef6a0c5 # v6.2.0
      with:
        go-version-file: 'tf-apko/.go-version'

    - working-directory: tf-apko
      run: go build .

    # Make cosign/crane CLI available to the tests
    - uses: sigstore/cosign-installer@faadad0cce49287aee09b3a48701e75088a2c6ad # v4.0.0
      with:
        # https://github.com/goreleaser/goreleaser/issues/6195
        cosign-release: "v2.6.2"

    - uses: imjasonh/setup-crane@6da1ae018866400525525ce74ff892880c099987 # v0.5

    - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
      with:
        repository: chainguard-images/images
        path: images

    - uses: chainguard-dev/actions/setup-terraform@0cf1221da92242205c2d9f8a63add344ebd6b304 # v1.6.1
      with:
        terraform-version-file: 'tf-apko/.terraform-version'
        terraform-wrapper: false

    - uses: chainguard-dev/actions/setup-registry@0cf1221da92242205c2d9f8a63add344ebd6b304 # v1.6.1
      with:
        port: 5005

    - name: Build images using current providers, and current reproducibility tests
      working-directory: images
      env:
        TF_VAR_target_repository: localhost:5005/tf-apko
      run: |
        terraform init

        # First do a stock build, to populate imagetest repo with current apko provider
        terraform apply -auto-approve \
          -target=module.go \
          -target=module.jdk \
          -target=module.python \
          -target=module.kubernetes

    - name: Build images using the new provider, and potentially new reproducibility tests
      working-directory: images
      env:
        TF_VAR_target_repository: localhost:5005/tf-apko
        APKO_IMAGE: ghcr.io/wolfi-dev/apko:latest@sha256:eb6793ba1a3e245f28f8fbc34ea1b9b1b2abb54f6c11cebcebad7c875a197a72
      run: |
        # Now change to our custom apko provider, note it may have a
        # digest drift w.r.t. imagetest sandbox digests, but the above
        # prebuild should address it
        cat > ~/.terraformrc <<EOF
        provider_installation {
          dev_overrides {
            "chainguard-dev/apko" = "${{ github.workspace }}/tf-apko"
          }
        }
        EOF

        # This should not fail, and there is a proof just above that
        # we have just successfully built things
        terraform apply -auto-approve \
          -target=module.go \
          -target=module.jdk \
          -target=module.python

    - name: Upload imagetest logs
      if: always()
      uses: actions/upload-artifact@b7c566a772e6b6bfb58ed0dc250532a479d7789f # v6.0.0
      with:
        name: "mega-module-imagetest-logs"
        path: imagetest-logs
