name: Test Chainguard Images
on:
  pull_request:
    branches: ['main']
  push:
    branches: ['main']

concurrency:
  group: presubmit-build-${{ github.head_ref }}
  cancel-in-progress: true

jobs:
  build-the-world:
    runs-on: ubuntu-latest

    steps:
    - uses: actions/setup-go@v4
      with:
        go-version: '1.20'

    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
      with:
        path: tf-apko

    - working-directory: tf-apko
      run: go build .

    - uses: actions/checkout@93ea575cb5d8a053eaa0ac8fa3b40d7e05a33cc8 # v3.1.0
      with:
        repository: chainguard-images/images
        path: images

    - uses: hashicorp/setup-terraform@v2
      with:
        terraform_version: '1.3.*'
        terraform_wrapper: false

    - uses: chainguard-dev/actions/setup-kind@main
      with:
        k8s-version: v1.24.x
        registry-authority: registry.local:5000

    - working-directory: images
      env:
        TF_VAR_target_repository: registry.local:5000/tf-apko
        APKO_IMAGE: ghcr.io/wolfi-dev/apko:latest@sha256:686ecf32c9a9b4c80ac0679c0db3b79e53f91238122ef5dd9181254a6b5e2939
      run: |
        terraform init

        cat > ~/.terraformrc <<EOF
        provider_installation {
          dev_overrides {
            "chainguard-dev/apko" = "${{ github.workspace }}/tf-apko"
          }
        }
        EOF

        terraform apply -auto-approve \
          -target=module.go \
          -target=module.jdk \
          -target=module.python \
          -target=module.kubernetes \
          -target=module.k3s

    - name: Collect diagnostics and upload
      if: ${{ failure() }}
      uses: chainguard-dev/actions/kind-diag@main
